// Reset
@import './libraries/reset';

:root {
  --main: #c361ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #eaf5ff;
  color: #2c2c2c;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
}

@import './libraries/grid';
